{% extends "auctions/layout.html" %}


{% block title %} Active Listings {% endblock %}

{% block body %}
    <div class="text-center">
        <h2>Active Listings</h2>
    </div>
      <br>
      <div class="album py-5">
        <div class="container">
          <div class="row">
            {% for Item in Items %}
                <div class="col-md-4">
                  <a class= "card mb-4 box-shadow" href ="{% url 'item:detail' Item.id %}">
                    <img class="card-img-top" src="{{ Item.image }}">
                    <div class="card-body">
                      <p class=" text-muted"><h4>{{ Item.name }}</h4></p>
                      <p class="text-dark">{{ Item.description }}</p>
                      <small class="text-muted">
                        Price: <b>{{ Item.price }}$</b>
                      </small>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>

{% endblock %}
