{% extends "auctions/layout.html" %}

{% block title %} New item {% endblock %}

{% block body %}

    <div class="text-center">
        <h2>Add new item</h2>
    </div>
  
      <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="w-25 my-6 mx-auto">
          {{ form.as_p }}
          
          <button type="submit" class="btn btn-primary btn-block mb-4">Add</button>
        </div>

      {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
                {{ feild.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
        </div>

      {% endif %}

    </form>

{% endblock %}